.inputt {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
    margin-right: 10px;
    width: 110px;
    overflow: hidden;
  }
}

.inputt_text {
  position: relative;
  flex: 1;
  input {
    width: 100%;
    outline: none;
    border: 1px solid var(--primary);
    padding: 10px 3px;
    font-size: 1.4rem;
  }
  .icon {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.6rem;
    // font-size: 100rem;
  }
}
