@import '../GlobalStyles/GlobalStyles.scss';
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

.search {
  flex: 1;
  margin: 0 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 5px;
  margin-left: 120px;
  input {
    width: 100%;
    padding: 10px;
    font-size: 1.6rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    color: $white-color;
  }

  .close {
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  .FaSearch {
    font-size: 1.8rem;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
